.appContainer{
    width: calc(100% - 72px);
    float: right;
 
}
.mt-0{margin-top: 0;}
.mt-5{margin-top: 5px !important;}
.mt-10{margin-top: 10px !important;}
.uqr-contents{    padding: 12px 0px;
    background: white;
    margin: 60px 35px 20px 35px;
    box-shadow: 0 4px 30px -8px rgb(125 112 188 / 30%);
    border-left: 1px solid rgba(106,75,255,.1);
    position: relative;
    
}

.view-setting{
    margin: 25px 20px 0 35px;
    background-color: #fff;
    margin-top: 80px;
}

.graph-options{
    background-color: rgb(234, 234, 234);
    margin: 10px;
    padding: 15px;
   
}
.img-note{font-size: 14px; color: #938fa9;}
.css-1s2u09g-control{
    height: 36px;
    border: 1px solid rgba(106,75,255,.2);
    border-color: rgba(106,75,255,.2) !important;
    background-color: #fff;
    color: #0036b9 !important;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
}
.heading span{color: #dc0000;}
.heading {color: #0036b9;}
.css-1s2u09g-control input{color: #0036b9 !important;}
.form-select{
    height: 36px;
    box-shadow: 0 4px 24px -8px rgb(125 112 188 / 20%);
    border: 1px solid rgba(106,75,255,.2);
    background-color: #fff;
    color: #0036b9;
    font-size: 12px;
    font-family: 'Manrope', sans-serif
}
.form-select:focus{
    height: 36px;
    box-shadow: 0 4px 24px -8px rgb(125 112 188 / 20%);
    border: 1px solid rgba(106,75,255,.2);
    background-color: #fff;
    color: #0036b9;
}
.form-control{
    height: 36px;
    box-shadow: 0 4px 24px -8px rgb(125 112 188 / 20%);
    border: 1px solid rgba(106,75,255,.2);
    background-color: #fff;
    color: #0036b9;
}
.form-control:focus{
    height: 36px;
    box-shadow: 0 4px 24px -8px rgb(125 112 188 / 20%);
    border: 1px solid rgba(106,75,255,.2);
    background-color: #fff;
    color: #0036b9;
}
form.needs-validation label{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
}
form.needs-validation{padding: 20px;}
.css-319lph-ValueContainer{
    height: 36px;
    box-shadow: 0 4px 24px -8px rgb(125 112 188 / 20%);
    background-color: #fff;
    color: #0036b9;

}
.leftNavigationMenu li a .menuIcon {
    width: 20px;
    border-radius: 50%;

    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
}
.nav-pills .nav-link{
    text-align: left;
    background-color: transparent;
    display: flex;
}
.menuTitle{display: none;}
.leftNavigationWrap:hover span.menuTitle{
    display: block;
    color: #393939;
    margin: 8px;
    font-weight: normal;
}
.leftNavigationWrap li{
    margin: 5px 0;
}
.leftNavigationWrap a.active span.menuTitle{
    color: #fff;
}
.leftNavigationWrap:hover .nav-link.active{
    color: #fff;
    background-color: #0036b9;
    padding: 0;
    width: 100%;

    
}
.filter{background-color: #fff;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{background-color: transparent;     }

.leftNavigationWrap a.active span.menuIcon{
    background-color: #0036b9 !important;
    width: 40px;
    height: 40px;
    fill: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.leftNavigationWrap li:hover .menuIcon{    background-color: #0036b9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;}

.leftNavigationWrap:hover li:hover span.menuIcon{
    background-color: #0036b9 !important;
    width: 40px;
    height: 40px;
    fill: #fff;
    text-align: center;
    border-radius: 50%;
}
.btn-primary{background-color: #0036b9;}
.nav-flush .nav-link{
    padding: 0;
}
.view-setting table th{
    color: #938fa9;
    font-weight: 400;
    border: none;
    padding: 16px;
    font-size: 14px;
    vertical-align: middle;
}
.view-setting table td{
    padding: 14px;
}
.table>:not(:first-child){
    border-top:1px solid #d7d7d7;
}
.page-title{background-color: #fff;      padding: 15px 40px 8px;
    z-index: 9;
    top:0;
    width: 100%;}
svg.DeleteIcon{fill: #dc0000;}
a.DeleteIcon{color: #dc0000;}
.page-title h1{font-size: 24px; }
.main-logo{padding: 13px;}
.main-logo img{width: 57px;}
.menuIcon{margin-left: 22px;}
.leftNavigationWrap span.menuIcon{
    background-color: #fff !important;
    width: 40px;
    height: 40px;
    fill: #0036b9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.leftNavigationWrap:hover sapn.menu-Icon{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
}
.leftNavigationWrap:hover li:hover a svg{
    fill: #fff;
}
ul.nav-pills li a svg{
    fill: #0036b9; 
}
ul.nav-pills li a.active svg{
    fill: #ffffff; 
}
.leftNavigationWrap:hover{width: 250px !important;}

.levelbutton {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom:12px!important;
    margin-right:8px!important;
    border-radius: 29px;
}
.graph-float{float: left; margin: 10px;}
.editdelete-btns{position:absolute;  top: 10px; right: 10px;}
input[type=text]{border:0 !important; outline: 0 !important; box-shadow: none; border-radius: 0 !important; border-bottom: 3px solid #c4c4c4 !important;}
select.form-select{border:0 !important; outline: 0 !important; box-shadow: none; border-radius: 0 !important; border-bottom: 3px solid #c4c4c4 !important;}
input[type=password]{border:0 !important; outline: 0 !important; box-shadow: none; border-radius: 0 !important; border-bottom: 3px solid #c4c4c4 !important;}

input[type=text]:focus{border-bottom: 3px solid #080fef !important;}
input[type=password]:focus{border-bottom: 3px solid #080fef !important;}
select.form-select:focus{border-bottom: 3px solid #080fef !important;}
.content-box{ box-shadow: 0 4px 30px -8px rgb(125 112 188 / 30%); border-left: 1px solid rgba(106,75,255,.1); margin: 25px;
    padding: 25px; background-color: #fff;}
.article-list-form input{width: 100%; border-bottom: 1px solid #c4c4c4;}
.article-list-form{border-bottom: 1px solid #dcdcdc; padding-bottom: 25px;}
.article-list{margin-top: 25px;}
.article-list-form button{margin-left: 20px;}
.article-list table .HandIcon{fill: #ffffff;}
.tabicon{    background-color: #0036b9;  padding: 5px; border-radius: 50%; display: flex;  width: 30px;  height: 30px; justify-content: center;
    align-items: center;}
.article-list table .nav-link{padding: 0;}


/* .tabicon{  padding: 5px; border-radius: 50%; display: flex;  width: 30px;  height: 30px; justify-content: center;
    align-items: center;} */
    .article-list table .nav-link{padding: 0;}
    .uqr-form{position: relative; top: 15px;}
    
    .tab-nav{display: flex;  padding-bottom: 15px;}
    .tabhead{cursor: pointer; font-weight: 600;}
    .qualitatxive-form .tabhead{text-align: center;}
    .tabcontent .col-6, .col-12{line-height: 33px;}
    .qualitatxive-form .tabcontent .col-4{margin: 7px 0;}
    .qualitatxive-form .tabcontent .col-4 input{padding: 5px 0;}
    .image-tab{margin-top:20px;}
    .qualitatxive-form .tab-nav{position: relative;}
    .qualitatxive-form{background-color: #fff; box-shadow: 0 4px 30px -8px rgb(125 112 188 / 30%); padding: 15px;}
    .qualitatxive-form .tab-nav::before{border-top:1px solid #d7d7d7;  position: absolute;   top: 15px;  content: "";  width: 100%;}
    .addverticle {display: flex;}
    .image-tab .tabcontent img{width: 90%;}
    .qualitative-buttons{ margin-top: 20px; text-align: right;}
    .addverticle .card{margin: 10px;}
    .analysisoptions span {color: #0036b9 ; margin-right: 15px;}
    .analysisoptions svg{margin: 0 5px;}
    .article-details{color:#646363;      border-bottom: 1px solid #d7d7d7; padding-bottom: 15px;   margin: 20px 0 10px;}
    .article-details .col-4{padding: 0; font-weight: 600;}
    .article-details svg{fill:#646363; margin-right: 3px;}
    .edition-tab .col-6 span{color: #646363;}
    .analysisoptions{margin-bottom: 15px; border-bottom: 1px solid #d7d7d7; padding-bottom: 15px;}
    .addverticle .CloseIcon{ position: absolute;  top: 10px; right: 10px;}
    .share-icons svg{margin-right: 8px;}
    .qualitatxive-form span{background-color: #dcdcdc; position: relative; width: 30px; height: 30px; margin: 0 auto; display: flex; border-radius: 50%; justify-content: center; align-items: center;}
    
    .aldatepicker{width: 100%; position: relative;}
    .aldatepicker .CalendarIcon{    position: absolute;
        right: 0;
        top: 0px;}
    .aldatepicker input{padding-bottom: 10px;}
    .suggestions h5{color: #0036b9; font-size: 16px;}
    .edetails span{margin-right: 15px; color: #acabab; font-size: 14px; font-weight: normal;}
    .qualitatxive-form .tab-content h3{font-size: 20px;}
    .leftNavigationWrap .nav-link.active{border-bottom: 0 !important;}
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{background-color: #fff;  border-radius: 0; border-bottom: 3px solid #0036b9; color: #0036b9; }
    .nav-pills .nav-link{color: #393939; font-size: 16px;}
    .nav-justified .nav-item, .nav-justified>.nav-link{flex-basis: auto; flex-grow: 0;}
    .tab-content .row{    padding: 10px 7px 0 0;}
    .nav-pills{border-bottom: 1px solid #d3d3d3;}
    .suggestions h5, .suggestions p {padding-left: 0;}
    .entity-tab {padding: 0px 10px 0; margin-top:25px;}
    .tab-nav{display: flex;     margin-top:40px;}
    .tabhead{
        text-align: center;
        cursor: pointer;
    }
    .tabcontent h3{border-bottom: 1px solid #dcdcdc; text-align: center;     padding: 20px 0 15px; font-size: 20px;}
    .tabcontent .qa-input{border:0 ; outline: 0; border-bottom: 1px solid #999999; width: 100%;    ;}
    .qa-input{ width: 100%; padding-bottom: 12px;}
    input:disabled {opacity: 0.5;}
    .journalist-details{margin-top:20px}
    
    .graph-float{float: left !important; margin: 10px; min-height: 500px;}
    .analysisoptions span{margin-right: 15px;}
    .analysisoptions span .icon{margin: 10px;}
    .analysis-options{ margin-top:20px; padding-bottom: 10px;}
    .journalist-details svg{fill:#757575 !important; margin:0 7px 0 0;}
    .edition-tab .tab-nav{margin-top: 20px; border-bottom: 1px solid #dcdcdc; padding-bottom: 15px; margin: 20px 0;}
    
    .qualitative-form{box-shadow: 0 4px 30px -8px rgb(125 112 188 / 30%);}
    .image-tab .tab-nav{border-bottom: 1px solid #dcdcdc; padding-bottom: 15px; margin: 30px 0 0;}
    
    .card-text{list-style-type: square;}
    .add-delete .nav-link{padding: 5px;}
    .add-delete{display: flex;}
    .edit-pubication .col-3{margin: 10px 0;}
    .ep-info input{margin: 15px 0;}
    .ep-info{margin-top: 50px;}
    .download-formates{
        min-height: 550px;
    }
    .download-formates img{
        width: 100%;
        margin-top: 30px;
        height: 480px;
    }
    .form-details .btn{float: right;}
    .form-details .col-4{position: relative;}
    .form-details .CalendarIcon{     right: 14px;}
    /* .form-details svg{float: right; position: absolute; right: 10px; fill: #b4b4b4;} */
    .form-select {color: #999999; font-size: 14px;     padding: 5px;}
    .mt-20{margin-top: 20px;}
    
    .form-details .col-6{position: relative;}
    .qualitatxive-form h3{margin: 20px 0;}
    .image-tab .tab-content{padding: 0;}
    button.btn-gray, button.btn-gray:hover{background-color: #888888; color: #fff; margin-right: 5px;}
    .keyword-topic{border-top: 1px solid #c4c4c4;     margin-top: 40px;}
    .qa-tab .nav-link{border-radius:50%; border:1px solid #b4b4b4;}
    .qa-tab .nav-link.active{background-color: #0036b9; border:1px solid #0036b9 !important; border-radius:50%; border: 0;  color: #ffffff;  }
    .qa-tab .nav-link::before{ content: "Step"; position: absolute;  top: 40px;left: 0;}
    .qa-tab .nav-link{position: relative;}
    .qa-tab .nav-link.active::before{color: #0036b9;}
    .form-details{margin-top: 20px;}
    .qa-tab .nav-pills{border: 0;}
    .qa-tab ul li{margin: 0 auto;}
    .qa-tab {margin-top:30px;}
    .qa-tab .tab-content{margin-top: 45px; border-top: 1px solid #ccc;}
    /* .step1, .step2, .step3, .step4{position: relative;}
    .step2 span{ left: 84px; right: 0;}
    .step3 span{ left: 120px; right: 0;}
    .step4 span{ left: 170px; right: 0;}
    .step1 span{ position: absolute; left: 10px; right: 0;}
    .step span{  background-color: #0036b9; width: 30px; border-radius: 50%; color: #fff; text-align: center; padding: 5px; position: absolute;
     top: -66px; z-index: 99;} */
     .article-list .tabicon {background-color: #0036b9; border-radius: 50%; width: 30px; height: 30px; display: flex; justify-content: center; align-items: center;}
        
    
    .carousel-item {position: relative;}
    .ourtop-picks .col-md-4 h5{text-align: center;}
    
    .form-details h3{font-size: 18px; font-weight: bold;}
    .textarea textarea{ color: #000; font-size: 16px;}
    .radio-btn{margin-right: 12px;}
    .form-details {margin-left: 5px;}
    .radio-group{margin-top:15px;}
    .radio-group span{margin-right: 10px;}
    .radio-group label{margin-left: 6px;}
    .radio-title{color: rgb(145, 145, 145); font-weight: normal;}
    .analysis-options{min-height: 300px; overflow-y: auto;}
    
    .step3 .mt-20{margin-top: 10px !important;}
    .search-td{background-color: #9d9d9d;}
    .search-td .qa-input{padding-bottom: 0; padding-left: 5px;}

    .page-item.active .page-link{background-color: #0036b9; border-color: #0036b9;}
    .page-link{color: #0036b9;}
    .article-list-pagination .pagination{float: right;}
    .readmore{font-size: 24px; text-decoration: none;}
    span.tolltip:hover p{background-color: #fff; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
    color: #000; position: absolute; z-index: 9999; display: block; width: 300px; padding: 15px;}
    
    span.tolltip p{display: none;}
    .tolltip h5{color: #0036b9;}
    .punch-btn{background-color: #0036b9; color: #fff; padding: 10px 9px; border-radius: 50%;}
    .punch-btn svg{fill: #fff;}
    .rdt_TableCol_Sortable{font-weight: bold;}
    .article-list-table{overflow-x: scroll;}
    .article-list-table th{white-space: nowrap; padding: 12px; background-color: #c5c5c5; border-right: 1px solid #9c9c9c;}
    .table-search{background-color: #e5e5e5;}
    .table-search td{border-right: 1px solid #b7b7b7;}
    .article-pagination{float: right; margin-top: 15px;}
    .article-pagination{display: inline-block;}
    .theme-details{margin-top:30px;}
    .theme-details th{padding: 10px ; background-color: #c5c5c5; border-right: 1px solid #a2a2a2;}
    .theme-form .btn{float: right;}
    .theme-pagination{    display: flex;
        justify-content: right;}
    .ecode-form input{width: 100%;}





    /* //newpage */

    .feedDetailsWrap {
        width: calc(100% - 56px);
        margin: auto;
        background: #fff;
        padding: 24px;
    }
    
    .newsDetailsWrap, .singleNewsItem {
        width: 100%;
    }
    .newsDetailsWrap, .singleNewsRow {
        cursor: default;
        border-radius: 8px;
        padding: 10px 15px;
        box-shadow: 0 1px 6px 0 rgb(0 0 0 / 6%);
        border: 1px solid #ececec;
        margin-bottom: 10px;
    }

    .clearfix:after, .clearfix:before {
        content: " ";
        display: table;
    }

    .newsItemTopWrap .newsItemBottom, .newsItemTopWrap .newsItemTop {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    
    .newsItemTopWrap .newsItemTop {
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    .newsItemTopWrap {
        margin-left: -24px;
        margin-right: -24px;
        padding: 0 24px 12px;
        border-bottom: 1px solid rgba(106,75,255,.1);
    }

    .feedDetailsWrap .nitLeft {
    display: block;
}

.newsItemTopWrap .nitLeft {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}


.feedDetailsWrap .publication {
    font-size: 24px;
    padding: 0 15px 0 0;
}

.newsItemTopWrap .publication {
    /* padding-left: 8px; */
    margin: 0;
    font-family: "Manrope-Bold";
}

.newsItemTopWrap .nitLeft .publicationLogo {
    margin-bottom: 6px;
}

.feedDetailsWrap .nitRight {
    -ms-flex-align: center;
    align-items: center;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.newsItemTopWrap .nitRight .publicationLogo {
    display: none;
}

.newsItemTopWrap .nitRight .publicationLogo img {
    max-height: 15px;
}
.newsItemTopWrap .newsItemBottom, .newsItemTopWrap .newsItemTop {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.feedDetailsWrap .newsDate {
    font-size: 14px;
    padding: 0;
    color: #333;
    font-family: "Manrope-Regular";
}

.newsItemTopWrap .newsDate {
    font-size: 14px;
    color: #999;
    font-family: "Manrope-Medium";
    /* padding-left: 8px; */
    position: relative;
}


.newsDetailsWrap .detailsMetaTagWrap, .newsDetailsWrap .newsItemList {
    margin: 0 -24px 12px;
    padding: 0 24px;
    border-bottom: 1px solid rgba(106,75,255,.1);
}

.feedDetailsWrap .card-header-tabs {
    border-bottom: 1px solid rgba(106,75,255,.1);
    margin: 0 -24px 18px;
    padding: 0 24px;
    display: -ms-flexbox;
    display: flex;
}

.feedDetailsWrap .card-header-tabs span.nav-item.editionTitle {
    padding-left: 0;
}
.feedDetailsWrap .card-header-tabs span.nav-item {
    padding: 8px 12px;
    color: #333;
    position: relative;
}
.feedDetailsWrap .card-header-tabs .nav-item {
    font-size: 14px;
    line-height: 24px;
    padding: 8px 12px;
    color: #938fa9;
}

.feedDetailsWrap .card-header-tabs .navLinksWrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    width: calc(100% - 70px);
}

.feedDetailsWrap .card-header-tabs span.active {
    font-family: "Manrope-Bold";
}
.feedDetailsWrap .card-header-tabs span.nav-item {
    padding: 8px 12px;
    color: #333;
    position: relative;
}
.feedDetailsWrap .card-header-tabs .nav-item {
    font-size: 14px;
    line-height: 24px;
    padding: 8px 12px;
    color: #938fa9;
}
.feedDetailsWrap .card-header-tabs span.active:after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0036b9;
}

.newsDetailsWrap.printDetailsWrap .detailsMetaTagWrap>p, .newsDetailsWrap.printDetailsWrap .newsItemList>p {
    width: 20%;
}

.newsDetailsWrap .detailsMetaTagWrap>p, .newsDetailsWrap .newsItemList>p, .singleNewsItem .detailsMetaTagWrap>p, .singleNewsItem .newsItemList>p {
    display: inline-block;
    font-size: 12px;
    color: #333;
    width: 25%;
    padding-right: 15px;
    margin: 0 0 12px;
    vertical-align: top;
}
.newsDetailsWrap .detailsMetaTagWrap>p label, .newsDetailsWrap .newsItemList>p label, .singleNewsItem .detailsMetaTagWrap>p label, .singleNewsItem .newsItemList>p label {
    color: #938fa9;
    font-size: 12px;
    font-family: "Manrope-Regular";
}
.newsItemList label {
    font-family: "Manrope-Bold";
    margin-bottom: 0;
}


.imgContainer.imageContainerWithPdf {
    display: block;
    margin: 0;
}

.feedDetailsWrap .imagePdfbtnWrap {
    margin-bottom: 18px;
}
.feedDetailsWrap .imagePdfbtnWrap .btn-group {
    margin: 0 8px 0 12px;
}

.feedDetailsWrap .imagePdfbtnWrap .btn-group .btn-primary.active, .feedDetailsWrap .imagePdfbtnWrap .btn-group .btn-primary:focus, .feedDetailsWrap .imagePdfbtnWrap .btn-group .btn-primary:hover {
    box-shadow: 0 0 0 0 rgb(38 143 255 / 50%);
    background-color: #0036b9;
    outline: 0;
    color: #fff;
    border-color: #0036b9;
}
.feedDetailsWrap .imagePdfbtnWrap .btn-group .btn-primary {
    background-color: #fff;
    border: 1px solid #e9e4ff;
    color: #938fa9;
    font-size: 12px;
    line-height: 1.33;
    padding: 10px 30px;
    outline: 0;
}
.newsDetailsWrap .imagePreviewWrap {
    margin: 0 auto 20px;
}

.newsDetailsWrap .imagePreviewWrap .imageActions, .newsDetailsWrap .imagePreviewWrap .previewImg {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.newsDetailsWrap .imagePreviewWrap .previewImg {
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
}
.newsDetailsWrap .imagePreviewWrap .imageActions {
    display: flex;
    justify-content: center;
}
.newsDetailsWrap .imageThumbnailWrap {
    white-space: nowrap;
    overflow: auto;
}
.newsDetailsWrap .imageThumbnailWrap .imgThumbnail.activeThumb {
    border-color: #0036b9;
}

.newsDetailsWrap .imageThumbnailWrap .imgThumbnail {
    cursor: pointer;
    display: inline-block;
    margin: 0 8px 8px 8px;
    width: 178px;
    height: 124px;
    border: 2px solid #bfb1ff;
    padding: 6px;
    overflow: hidden;
}

.newsDetailsWrap .imageThumbnailWrap .imgThumbnail img {
    max-width: 100%;
}


.bigSize {
    height: 400px !important;
}


.custom-ui {
    text-align: center;
    width: 500px;
    padding: 40px;
    background: #696969;
    box-shadow: 0 20px 75px rgb(0 0 0 / 23%);
    color: #fff;
}

.custom-ui > h1 {
    margin-top: 0;
}

.custom-ui > button {
    width: 160px;
    padding: 10px;
    border: 1px solid #fff;
    margin: 10px;
    cursor: pointer;
    background: none;
    color: #fff;
    font-size: 14px;
}